body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(178, 231, 231);
	color: black;
}

.app-container {
	margin-top: 20px;
}

.paper {
	padding: 20px;
}

.form-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.todo-input {
	flex-grow: 1;
	margin-right: 10px;
}

.add-button {
	height: 56px; /* Align with TextField height */
}

.filter-container {
	margin-top: 20px;
}

.filter-select {
	font-size: 0.875rem; /* Make the filter smaller */
}

.list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon-button {
	padding: 5px;
	font-size: 0.875rem; /* Smaller icons */
}
